*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 30px;
}

body{
    background-color: rgb(27, 44, 88);
}

/*  */
.header{
    background-color: orangered;
    height: 5rem;
    padding: 2rem;
    text-align: center;
   

}
.header h1{

    color: blanchedalmond;
    font-size: 7vmin;
    letter-spacing: 1rem;
}
/*  */

.container{
    margin: 2rem;
    background-color: rgba(255, 255, 255, 0.062);
    height: auto;
}